Source: kodi-pvr-ipworldtv
Priority: extra
Maintainer: Greg Kennedy <greg@gotekno.com>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-pvr-dev,
               libkodiplatform-dev (>= 16.0.0), kodi-addon-dev, zlib1g-dev
Standards-Version: 3.9.4
Section: libs

Package: kodi-pvr-ipworldtv
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple IPTV PVR for Kodi
 Simple IPTV PVR for Kodi

Package: kodi-pvr-ipworldtv-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Simple IPTV PVR for Kodi
 debug symbols for Simple IPTV PVR for Kodi
